@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap");

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

body li {
  padding-left: 5px !important;
  margin-bottom: 5px;
}

#publications .has-text-centered ol {
  text-align: left !important;
  margin-left: 0px;
}

#patents .has-text-centered ol {
  text-align: left !important;
  margin-left: 0px;
}

#talks .has-text-centered ol {
  text-align: left !important;
  margin-left: 0px;
}

#awards .has-text-centered ul {
  text-align: left !important;
  margin-left: 0px;
}

#service .has-text-centered ul {
  text-align: left !important;
  margin-left: 0px;
}

#publications .markdown h2 {
  font-size: 30px;
  text-align: left;
}

#about .markdown h2 {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
}

.column.is-one-third, .column.is-one-third-tablet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdown table {
  border: 0px none;
  margin: 0 0 0 1.5em;
}

.markdown td, .markdown th {
  border: 0px none;
  background-color: #ffffff
}

.markdown tbody tr:nth-child(odd) td, .markdown tbody tr:nth-child(odd) th {
  background-color: #ffffff
}

.markdown tbody tr:nth-child(even) td, .markdown tbody tr:nth-child(even) th {
  background-color: #ffffff
}

.year {
  padding: 0px !important;
}

.desc {
  padding-top: 0px !important;
  text-align: left !important;
}